<section>
  <div class="container">
    <div class="filters">
      <form (ngSubmit)="submit()" class="filters-form" [formGroup]="form">
        <div>
          <label for="country" list="europe-countries">Country:</label>
          <select formControlName="countryCode" type="text" name="country">
            <option value=""></option>
            <option *ngFor="let country of countries" [value]="country.value">
              {{ country.label }}
            </option>
          </select>
        </div>

        <div>
          <label for="city">City:</label>
          <input formControlName="city" type="text" name="city" id="" />
        </div>
        <div>
          <label for="start">Start:</label>
          <input
            [min]="fromMin"
            [max]="fromMax"
            placeholder="start"
            formControlName="startDateTime"
            type="date"
          />
        </div>
        <div>
          <label for="end">End:</label>
          <input [min]="endMin" formControlName="endDateTime" type="date" />
        </div>
        <div>
          <button type="submit">Search</button>
        </div>
      </form>
    </div>
    <app-event-card-list [events]="events$ | async"></app-event-card-list>
    <!-- <div class="card-container">
      <div *ngFor="let item of events$ | async as event">
        <app-event-card [item]="item"></app-event-card>
      </div>
    </div> -->
  </div>
</section>
