.container {
  .filters {
    padding-top: 1rem;
    padding-bottom: 1rem;
    .filters-form {
      display: flex;
      column-gap: 3rem;
      justify-content: space-between;
      flex-wrap: wrap;
      row-gap: 1rem;
      label {
        margin-right: 1rem;
      }
      button {
        padding: 5px 10px;
        cursor: pointer;
        border: none;
        color: white;
        background-color: #4f46e5;
        &:hover {
          background-color: rgb(31, 19, 94);
        }
      }
    }
  }

}
