.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  cursor: pointer;

  .card-image {
    aspect-ratio: 16 / 9;
    width: 100%;
  }
  .body {
    padding-top:  5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    .title{
      font-weight: bold;
      font-size: 18px;
      padding-bottom: 4px;
      color: #4f46e5;
    }
  }
}
